tr.colorpicker {
    padding: 0px;
}

td.colorpicker {
    height: 20px;
    padding: 0px;
}

div.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

div.left {
    display: inline-block;
    width: 472px;
    height: 622px;
    float: left;
}

div.right {
    display: inline-block;
    width: 200px;
    float: right;
    padding-left: 10px;
}
