tr.colorpicker {
    padding: 0px;
    width: 120px;
}

td.colorpicker {
    height: 20px;
    width: 20px;
    padding: 0px;
}

div.wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

div.left {
    display: inline-block;
    width: 472px;
    height: 622px;
    float: left;
}

div.right {
    display: inline-block;
    width: 200px;
    float: right;
    padding-left: 10px;
}

td.sizepicker {
  padding: 2px;
  text-align: center;
}

td.sizepicker:hover {
    background-color: #f8f9f9;
}

td.sizepicker {
  background-color: #ffffff;
  color: #000000;
}

img.canvas_img {
  left: 10;
  top: 10;
  height: 620px;
  position: absolute;
  width: 470px;
  border: 0;
}

canvas.drawing_canvas {
  z-index: 1;
  left: 10;
  top: 10;
  position: relative;
}
